body {
    background-color: antiquewhite;
    font-style: normal;
    font: bolder;
    font-family: roboto;
    color: black;
}
.topnav {
    background-color: rgb(196, 166, 123);
    padding: 2%;
}
img {
    width: 100%;
      }
