body {
    background-color: antiquewhite;
    font-style: normal;
    font: bolder;
    font-family: roboto;
    color: black;
}
.navbar{
    background-color: rgb(231, 184, 184);
}
.column {
    float: left;
    width: 30%;
    padding: 5px;
}
img {
    width: 100%;
      }
